<div class="error-holder">
    <h1> <%- title %> </h1>
    <p>Error.message = <%= message %></p>
    <p>Error status = <%= error.status %></p>
    <pre>Error stack = <%= error.stack %></pre>
    <pre>Full Error = <%= error %></pre>
</div>